* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    margin: 0 auto;
    max-width:$desktop-l;
}

.container {
    @media (max-width:$tablet) {
        max-width: $tablet;
    }
}

.container {
    @media (max-width:$phone) {
        max-width: $phone;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }