.brand-site--section__box {
    display: flex;

    @media (max-width:$tablet) {
        display: grid;
        margin-left: 234px;
        // margin-top: 118px;
    }
}

.brand-section--box {
    width: 431px;
    height: 614px;
    background-repeat: no-repeat;
    background-image: url(/img/Frame\ \(1\).png);

    @media (max-width:$tablet) {
        margin-left: -252px;
    }

    @media (max-width:$phone) {
        background-image: url(/img/Frame\ phone.png);
        background-repeat:no-repeat;
        width: 229px;
        height: 324px;
        margin-left: 50px;
        margin-top: -87px;
    }

    @media (max-width:$phone) {
       padding-left: 380px; 
    }
}

.title-bestsellers {
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 107.9%;
    letter-spacing: 0.01em;
    color: #5FD788;
    margin-top: 200px;
    margin-left: 96px;
    width: 276px;

    @media (max-width:$tablet) {
        margin-left: 390px;
    }

    @media (max-width:$phone) {
        font-size: 36px;
        line-height: 107.9%;
        text-align: center;
        letter-spacing: 0.01em;
        position: absolute;
        left: -125px;
        top: 2290px;
    }
}

.btn-shop--all {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 97.9%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5FD788;
    border-radius: 8px;
    padding: 12px 30px;
    text-decoration: none;
    width: 274px;
    height: 40px;
    display: inline-block;
    margin-left: 96px;
    margin-top: 18px;

    @media (max-width:$tablet) {
        margin-left: 365px;
    }

    @media (max-width:$phone) {
        position: absolute;
        left: -115px;
        top: 2529px;
    }
}

.card-img--box {
    display: flex;
    position: absolute;
    width: 377px;
    height: 91px;
    top: 2475px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12.5px);
    border-radius: 0px 20px;

    @media (max-width:$tablet) {
        position: absolute;
        top: 3215px;
    }

    @media (max-width:$phone) {
        position: absolute;
        top: 3075px;
    }
}

.card-img--box1 {
    display: flex;
    position: absolute;
    width: 377px;
    height: 91px;
    top: 2475px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12.5px);
    border-radius: 0px 20px;

    @media (max-width:$tablet) {
        position: absolute;
        top: 3685px;
    }

    @media (max-width:$phone) {
        position: absolute;
        top: 3500px;
    }
}

.site-card--box {
    margin-left: 15px;
    margin-top: 13px;
}

.card-box {
    margin-left: 120px;

    @media (max-width:$tablet) {
        margin-left: 64px;
        margin-top: -145px;
    }

    @media (max-width:$phone) {
        margin-top: 37px;
        margin-left: -28px;
    }
}

.card-box1 {
    margin-left: 15px;

    @media (max-width:$tablet) {
        margin-left: 64px;
        margin-top: 80px;
    }

    @media (max-width:$phone) {
        margin-top: 37px;
        margin-left: -28px;
    }
}

.site-card--title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #1F2937;
}

.in-three {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 97.9%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5FD788;
    border-radius: 8px;
    padding: 2px 6px;
    width: 32px;
    height: 15px;
}

.comes-product {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #6B7280;
    width: 239px;
    height: 40px
}

.add-to--card {
    border: none;
    background: none;
    margin-left: 60px;
    cursor: pointer;
}

.card-title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #1F2937;
}

.perfumes-object {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #6B7280;
    width: 239px;
    height: 40px;
}

.card-btn {
    display: flex;
    gap: 5px;
    margin-left: 981px;
    margin-top: -161px;

    & {
        li {
            list-style-type: none;
        }
    }

    @media (max-width:$tablet) {
        margin-left: 459px;
        margin-top: 60px;
    }

    @media (max-width:$phone) {
        margin-left: 370px;
        margin-top: 30px;
    }
}

.btn-dot--green {
    background: #5FD788;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-dot {
    display: inline;
    background: #9CA3AF;
    width: 8px;
    cursor: pointer;
    height: 8px;
    border-radius: 50%;
    border: none;
}