.header {
    width: 1400px;
    height: 69px;
    position: fixed;
    z-index: 2;
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12.5px);

    @media (max-width:$tablet) {
        width: 982px;
        height: 69px;
        position: fixed;
        z-index: 2;
        display: flex;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(12.5px);
    }

    @media (max-width:$phone) {
        width: 768px;
        height: 69px;        
    }
}

.hamburger {
    @media (max-width:$phone) {
        &::after,
        &::before {
            content: "";
            width: 25px;
            height: 3px;
            background-color: #000;
            display: block;
            margin: 5px 0;            
        }

        position: absolute;
        left: 640px;
        top: 30px;
    }
}

input[type="checkbox"]:checked + .header-navbar ul {
    transform: translateX(0);
    transition: 0.4s ease;
}


.site-header {
    position: absolute;
}

.site-header.site-header {
    position: absolute;
    width: 75px;
    left: 104px;
    top: 22px;

    @media (max-width:$tablet) {
        position: absolute;
        display: inline-block;
        width: 100px;
        height: 18px;
        left: 49px;
        top: 26px;
    }
}

.site--logo {
    text-decoration: none;
    display: block;
}

.site-icons {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 4.85px;

    @media (max-width:$phone) {
       margin-left: 35px;
    }
}

.header-navbar {
    position: relative;
    left: 670px;
    top: 26px;
    &{
        ul {
            gap: 10px;
            display: flex;
        }
        li {
            list-style-type: none;
        }
        a {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 135%;
            color: #1F2937;
            text-decoration: none;
        }
    }

    @media (max-width:$tablet) {
        position: absolute;
        left: 307px;
        top: 30px;
    }

    @media (max-width:$phone) {
        position: absolute;
        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: #fff;
            transform: translateX(-100%);
            transition: 0.4s ease;
            height: 100vh;
            width: 200px;
            left: -310px;
            top: -29px;
            gap: 25px;
        }
        a{
            font-size: 24px;
            margin-left: 25px;
        }
    }
}

.header-searches {
    position: absolute;
    width: 42px;
    left: 1280px;
    top: 25.45px;

    @media (max-width:$tablet) {
        position: absolute;
        left: 900px;
        top: 30px;
    }

    @media (max-width:$phone) {
        display: none;
    }
}

.icon {
    position: absolute;
    right: 0;
}
