.health-control__section {
    display: flex;
    margin-top: 150px;
}

.health-control--box {
    background: #5FD788;
    width: 754px;
    height: 515px;
    background-image:url(/img/Texture_2_\ \(1\).png);
}

.texture-img {
    width: 754px;
    height: 500px;
    margin-top: -240px;
}

.health-control--title {
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 119.4%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    width: 523px;
    height: 229px;
    margin-top: 112px;
    margin-left: 101px;
}

.site-health--control {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 97.9%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #1F2937;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 8px;
    width: 274px;
    height: 40px;
    display: inline-block;
    padding: 12px 30px;
    margin-left: 101px;
    margin-top: 35px;
}