 .second-brand--section {
    margin-top: 115px;
}

.card-box--second {
    display: flex;
    margin-left: 270px;
    gap: 15px;

    @media (max-width:$tablet) {
        display: grid;
        margin-left: 57px;
        margin-top: -200px;
    }

    @media (max-width:$phone) {
        margin-left: -35px;
    }
}

.title-trends {
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 107.9%;
    margin-top: 140px;
    margin-left: 32px;
    width: 270px;
    height: 57px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #5FD788;

    @media (max-width:$tablet) {
        margin-left: 350px;
    }

    @media (max-width:$phone) {
        margin-left: -78px;
    }
}

.second-section--img {
    background-image:url(/img/Trends\ \(1\).png);
    width: 260px;
    height: 570px;
    background-repeat: no-repeat;

    @media (max-width:$tablet) {
        margin-left: -240px;
       
    }

    @media (max-width:$phone) {
        margin-left: 100px;
    }
}

.btn-shop--all-bt {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 97.9%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5FD788;
    border-radius: 8px;
    padding: 12px 30px;
    text-decoration: none;
    width: 274px;
    height: 40px;
    display: inline-block;
    margin-left: 96px;
    margin-top: 18px;

    @media (max-width:$tablet) {
        margin-left: 350px;
    }

    @media (max-width:$phone) {
        margin-left: -65px;
    }
}

.second-card-box {
    // margin-left: 290px;

    @media (max-width:$tablet) {
        display: grid;
        margin-left: 15px;
    }    
}

.second-card-box1 {
    margin-left: 15px;

    @media (max-width:$tablet) {
        display: grid;
        margin-top: 80px;
    } 
}

.second-card--img__box {
    display: flex;
    position: absolute;
    width: 377px;
    height: 91px;
    top: 3730px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12.5px);
    border-radius: 0px 20px;

    @media (max-width:$tablet) {
        top: 5303px;
    }

    @media (max-width:$phone) {
        top: 5192px;
    }
}

.second-card--img__box1 {
    display: flex;
    position: absolute;
    width: 377px;
    height: 91px;
    top: 3730px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12.5px);
    border-radius: 0px 20px;

    @media (max-width:$tablet) {
        top: 5785px;
    }

    @media (max-width:$phone) {
        top: 5673px;
    }
}

.second-card-btn {
    display: flex;
    gap: 5px;
    margin-left: 981px;
    margin-top: -91px;

    & {
        li {
            list-style-type: none;
        }
    }

    @media (max-width:$tablet) {
        margin-left: 459px;
        margin-top: 60px;
    }

    @media (max-width:$phone) {
        margin-left: 370px;
        margin-top: 30px;
    }
}