.site-footer {
    background: #F3F4F6;
    border: 0.5px solid #F3F4F6;
    height: 228px;
    width: 1349px;
    margin-top: 71px;

    @media (max-width:$tablet) {
        width: 982px;
        height: 485px;
    }

    @media (max-width:$phone) {
        width: 760px;
        height: 540px;
    }
}

.site-logo--box {
    @media (max-width:$phone) {
        margin-left: 251px;
    }
}

.footer-nav {
    display: flex;

    @media (max-width:$phone) {
        display: grid;
    }
}

.logo-footer {
    margin-left: 103px;
    margin-top: 22px;
}

.footer-navbar {
    display: flex;
    gap: 58px;

    @media (max-width:$tablet) {
        display: grid;
    }
}

.fot-navbar {
    margin-left: 315px;
    margin-top: 22px;

    & {
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 135%;
            color: #5FD788;
        }
    }
}

.logo-support {
    @media (max-width:$tablet) {
        margin-left: 44px;
    }

    @media (max-width:$phone) {
        margin-left: -5px;
    }
}

.logo-about {
    margin-left: 25px;

    @media (max-width:$tablet) {
        margin-left: 65px;
    }

    @media (max-width:$phone) {
        margin-left: -5px;
    }
}

.logo-customer {
    margin-left: 42px;

    @media (max-width:$phone) {
        margin-left: -5px;
    }
}

.paragraph-fot--box {
    gap: 39px;
    margin-left: 530px;
}

.paragraph-cards--box {

    & {
        p {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 135%;
            text-align: center;
            color: #9CA3AF;
        }
    }

    @media (max-width:$tablet) {
        margin-left: -105px;
    }

    @media (max-width:$phone) {
        text-align: center;
        margin-left: -290px;
    }
}

.reserved-cards {
    margin-left: 560px;
    margin-top: 54px;
    width: 322px;
    height: 32px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    text-align: center;
    color: #6B7280;

    @media (max-width:$tablet) {
        margin-left: 346px;
    }

    @media (max-width:$phone) {
        margin-left: 232px;
    }
}