.triple-info__section {
    display: flex;
}

.triple-info--improve {
    margin-top: 376px;

    @media (max-width:$tablet) {
        margin-left: -250px;
        margin-top: 217px;
    }

    @media (max-width:$phone) {
        margin-left: -350px;
    }
}

.improvle-title {
    width: 573px;
    height: 105px;
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 107.9%;
    text-align: right;
    letter-spacing: 0.01em;
    color: #5FD788;

    @media (max-width:$tablet) {
        font-size: 40px;
    }

    @media (max-width:$phone) {
        width: 375px;
        height: 58px;
        font-size: 20px;
        line-height: 107.9%;
        text-align: center;
        letter-spacing: 0.01em;
        margin-top: 100px;
        margin-left: -78px;
    }
}

.paragraph-improvex {
    font-family: 'SF Pro Display';
    font-style: normal;
    width: 374px;
    height: 62px;
    margin-left: 200px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #9CA3AF;

    @media (max-width:$phone) {
        width: 263px;
        height: 103px;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        margin-left: -35px;
        margin-top: 15px;
    }
}

.btn-explore {
    text-decoration: none;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 97.9%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5FD788;
    border-radius: 8px;
    padding: 12px 30px;
    margin-left: 300px;
    margin-top: 24px;
    display: inline-block;

    @media (max-width:$phone) {
        margin-left: -35px;
        margin-top: -15px;
    }
}

.triple-img--box {
    @media (max-width:$phone) {
        background-image: url(/img/Blob\ phone.png);
        background-repeat:no-repeat;
        width: 342px;
        height: 604px;
        margin-left: 293px;
        margin-top: 82px;
    }
}

.triple-img {

    @media (max-width:$tablet) {
        width: 552px;
        height: 604px;
    }

    @media (max-width:$phone) {
        width: 165.27px;
        height: 157.38px;
        margin-left: 23px;
    }
}